/* package page */
.product-detail {
    margin-top: 7%;
    margin-left:57%;
    max-width: 800px;
    position: fixed;
    top:0;
}

.group-item {
    margin-left:70px;
    width:550px;
}

input[type=radio] {
    display: none;
    margin: 10px;
}

input[type=radio] + label {
    float:left;
    margin:5px;
    background-color: white;
    margin-right:40px;
    padding:10px 30px 10px 30px;
    text-decoration: none;
    color:black;
    font-size: 20px;
    border: solid 1px silver;
}

input[type=radio]:hover + label {
    background-color: black;
    color:white;
}

input[type=radio]:checked + label {
    background-color: red;
    color:white;
}

meal-button input[type=radio] {
    display: none;
    margin: 10px;
}

meal-button input[type=radio] + label {
    float:left;
    margin:5px;
    background-color: white;
    margin-right:40px;
    padding:10px 30px 10px 30px;
    text-decoration: none;
    color:black;
    font-size: 20px;
    border: solid 1px silver;
}

meal-button input[type=radio]:hover + label {
    background-color: black;
    color:white;
}

meal-button input[type=radio]:checked + label {
    background-color: red;
    color:white;
}

.meal-input {
    float: left;
    margin-left:130px;
    background-color: white;
    margin-right:40px;
    padding:10px 30px 10px 30px;
    text-decoration: none;
    color:black;
    font-size: 20px;
    border: solid 1px silver;
    font-weight:bold;
}



.cart-submit {
    float: left;
    margin-left:130px;
    background-color: black;
    margin-right:40px;
    padding:20px 60px 20px 60px;
    text-decoration: none;
    color:white;
    font-size: 13px;
    font-weight: bold;
    border:none;
}

.cart-submit:hover {
    cursor:pointer;
}
/* package page */

/* food page */
.grid-container {
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20%;
    max-width: 100%;
    margin-left:6%;
}

.grid-item {
    margin:25%;
}

.grid-item label{
    width:200px;
    margin:55%;
    /* text-align: middle; */
}
.grid-item img {
    margin:5%;
}
.grid-item input[type=number] {
    margin-left: 10%;
    margin-right: 1%;
    width:50%;
}




/* food page */
#overlay-food {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    cursor: pointer;
    z-index:9999;
}
.food-form {
    display: flex;
    z-index: 9999;
}

/* food page */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
