.product-detail {
    margin-top: 15%;
    margin-left:55%;
    max-width: 800px;
    position: fixed;
    top:0;
}

/* .product-detail h1{
    text-weight:
} */

time-button {
    float:right; 
    border:solid 2px red; 
    display: block;
}

