/* font style of the body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2); 
    padding: 20px;
    font-weight: bold;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.dropdown {
    display: block;
    float: right;
    overflow: hidden;
    padding-right:80px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
    z-index: 9999;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding:15px;
    z-index: 999;
}

.dropdown:hover .dropdown-content {
    display:block;
}
/* navigation bar */

/* guide */
.guide {
    background-color: red;
    padding:20px;
    height:20px;
}

.guide a{
    /* float: left; */
    font-size: 16px;
    color: white;
    text-align: center;
    padding:10%;
    margin-right:100%;
    text-decoration: none;
    /* float: left; */
}
/* guide */

/* login signup form */
#login {
    display: flex;
    height: 96%;
}

#login embed {
    width:48%;
    height:45%;
    margin-left: 25%;
    margin-right:25%;
    padding-top: 9%;
    padding-bottom: 5.1%;
    z-index: 9999;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    z-index:9999;
}
/* login signup form */

.img-wrapper img {
    z-index: 1;
}
/* Caption text */
.caption {
    color: white;
    max-width: auto;
    background-color: rgba(17, 13, 13, 0.3);
    margin-left: 42%;
    margin-right: 25%;
    margin-bottom: 400px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: center;
    z-index: 2;
    font-weight: 200;
    z-index: 1;
}