

header {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
}

#nav-button {
    display: inline-block;
    align-items: center;
    background-color: white;
    text-align: center;
    /* border: 2px solid red; */
    color: black;
    padding: 8px;
    font-weight: bold;
    text-decoration:none;
    font-size: 20px;
}

#nav-button:hover{
    color: black;
}

.img__img {
    height: auto;
    width: auto;
    max-width: 100%;
}

/* card hover design */
.img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
}
  
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 148, 148);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
  
.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}


